.button{
-fx-background-color:  #C8C6ED;
-fx-border-color:  #796ca1;
-fx-effect: dropshadow(three-pass-box ,rgba(0,0,0,0.6),5,0.0 ,0 ,1 );
}

.button:hover{
-fx-background-color: linear-gradient( #C8C6ED,#796ca1);
}

.button:pressed{
-fx-background-color:  #C8C6ED;
-fx-border-color:  #796ca1;
-fx-effect: dropshadow(three-pass-box ,rgba(0,0,0,0.6),5,0.0 ,0 ,1 );
}