<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=UNTOLD;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <appSettings>
        <!-- Supervisors && Volunteers -->
        
        <!--<add key="Database" value="dbms"/>
        <add key="ParentTableName" value="Supervisor"/>
        <add key="ChildTableName" value="Volunteer"/>
        <add key="SelectParent" value="select * from Supervisor"/>
        <add key="SelectChild" value="select * from Volunteer"/>
        <add key="ChildForeignKey" value="supervisor_id"/>
        <add key="ParentReferencedKey" value="id"/>
        <add key="ForeignKey" value="FK__Volunteer__super__2F10007B"/>-->
        
        <!-- Stages && Artists -->
        
        <add key="Database" value="dbms"/> 
        <add key="ParentTableName" value="Stage"/> 
        <add key="ChildTableName" value="Artist"/> 
        <add key="SelectParent" value="select * from Stage"/> 
        <add key="SelectChild" value="select * from Artist"/> 
        <add key="ChildForeignKey" value="stage_id"/> 
        <add key="ParentReferencedKey" value="id"/>
        <add key="ForeignKey" value="FK__Artist__stage_id__38996AB5"/> 
        
    </appSettings>
    
</configuration>